tr, td{
    border: 0px solid lightgray;
    height: 30px;
    width: 30px;
    user-select: none;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    clear: left;
    border: 2px solid black;
}

.snakeHead0{
    background-color: blue;
}
.snakeBody0{
    background-color: lightblue;
}

.snakeHead1{
    background-color: green;
}
.snakeBody1{
    background-color: lightgreen;
}


.apple{
    background-color: red;
}