tr, td{
    border: 0px solid lightgray;
    height: 30px;
    width: 30px;
    user-select: none;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    clear: left;
    border: 2px solid black;
}

.snakeHead0{
    background-color: blue;
}
.snakeBody0{
    background-color: lightblue;
}

.snakeHead1{
    background-color: green;
}
.snakeBody1{
    background-color: lightgreen;
}


.apple{
    background-color: red;
}

#score0{
    border: 5px solid blue
}
#score1{
    border: 5px solid green
}
.scoreBox{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    float: left;
}
#winner{
    float: left;
    height: 30px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    border: 5px solid white;
}